{% extends 'base/base.html' %}

{% block body %}

<h1>Reversi Online</h1>
<hr>
<div class="container-fluid">
    <div class="float-start">
        <h2>New game</h2>
        <a class="btn btn-primary" href="#">Challenge</a>
        <a class="btn btn-primary" href="{% url 'game:open_games' 1 %}">Open game</a>
        <hr>
        <h2>Your Games</h2>
        {% include 'base/game_list.html' with games=latest_games %}
        <br>
        <a href="{% url 'game:my_games' %}" class="btn btn-primary">View all</a>
    </div>
    <div class="float-end">
        <h2>Top Players</h2>
        <ol>
            {% for player in top_players %}
            <li>
                <a href="{% url 'base:profile' player.username %}">{{ player.username }}</a> — {{ player.userdata.elo_rating }}
            </li>
            {% endfor %}
        </ol>
    </div>
</div>

{% endblock %}