{% extends 'base/base.html' %}

{% block body %}

<h1>Reversi Online</h1>
<hr>
<div class="container-fluid">
    <div class="float-start">
        <h2>Your Games</h2>
        <ul>
            <li>list</li>
        </ul>
        <hr>
        <h2>New game</h2>
        <a class="btn btn-primary" href="#">Challenge</a>
        <a class="btn btn-primary" href="#">Open game</a>
    </div>
    <div class="float-end">
        <h2>Top Players</h2>
        <ul>
            <li>me lol</li>
        </ul>
    </div>
</div>

{% endblock %}