{% extends 'base/base.html' %}

{% block title %} Play {% endblock %}

{% block head %}
    <style>
        #board
        {
            float: left;
        }
        #info
        {
            float: right;
            border-left: 1px solid black;
            padding: 1em;
        }
        .board-square
        {
            display: inline-block;
            width: 5em;
            height: 5em;
        }
        .board-square a
        {
            width: 100%;
            height: 100%;
            display: block;
        }
        .board-square-white
        {
            background-color: bisque;
        }
        .board-square-black
        {
            background-color: tomato;
        }
        :root
        {
            --stone-size: 75%;
        }
        .stone
        {
            border-radius: 100%;
            width: var(--stone-size);
            height: var(--stone-size);
            margin: calc((100% - var(--stone-size))/2);
            border: 0.25em solid #333;
        }
        .black-stone
        {
            background-color: darkslategrey;
        }
        .white-stone
        {
            background-color: white;
        }
        .board-void
        {
            opacity: 0;
        }
    </style>

    <script>
        const board_string = "{{ game.board_string }}";

        registerLoadFunction(()=>{
            let line_checker_start = true;
            let checker_color = line_checker_start;
            let board = document.getElementById("board");

            let row = document.createElement("tr")
            let rowc = 0;
            let colc = 0;

            for(let c of board_string)
            {
                let div = document.createElement("td");
                div.classList.add("board-square");

                let new_line = false;

                if(c == '_')
                {
                    div.classList.add('board-void');
                }
                else if(c == '.')
                {
                    if(checker_color)
                        div.classList.add('board-square-white');
                    else
                        div.classList.add('board-square-black');
                }
                else if(c == 'x')
                {
                    if(checker_color)
                        div.classList.add('board-square-white');
                    else
                        div.classList.add('board-square-black');

                    let stone = document.createElement("div");
                    stone.classList.add("stone", "white-stone");
                    div.appendChild(stone);

                }
                else if(c == 'o')
                {
                    if(checker_color)
                        div.classList.add('board-square-white');
                    else
                        div.classList.add('board-square-black');

                    let stone = document.createElement("div");
                    stone.classList.add("stone", "black-stone");
                    div.appendChild(stone);

                }
                else
                {
                    new_line = true;
                }


                if(!new_line)
                {
                    checker_color = !checker_color;

                    if(div.childElementCount == 0)
                    {
                        let a = document.createElement("a");
                        a.href = `{{ game.id }}/${rowc}/${colc}`;
                        div.appendChild(a)
                    }

                    row.appendChild(div);


                    rowc++;
                }
                else
                {
                    rowc = 0;
                    colc ++;

                    board.appendChild(row);
                    row = document.createElement('tr')
                    line_checker_start = !line_checker_start;
                    checker_color = line_checker_start;

                }
            }
            board.appendChild(row)
        })
    </script>
{% endblock %}

{% block body %}
<table id="board">

</table>
<div id="info">
    {% if game.second_player is not None %}
        <h1><a href="{% url 'base:profile' game.first_player %}">{{ game.first_player }}</a> vs. <a href="{% url 'base:profile' game.second_player %}">{{ game.second_player }}</a></h1>
        {% if not game.game_ended %}
            <strong>
                {{ turn }}'s turn
                {% if game.first_players_turn %}
                ({{ first_player_color }})
                {% else %}
                ({{ second_player_color }})
                {% endif %}
            </strong>
        {% else %}
            <strong>
                Game over:
                {% if game.winner == 'x' %}
                    {{ white_player }} (White) won
                {% elif game.winner == 'o' %}
                    {{ black_player }} (Black) won
                {% elif game.winner == 't' %}
                    It's a draw
                {% endif %}
            </strong>
            <br>
            <i>
                {{ game.elo_transferred }} ELO transferred.
            </i>
        {% endif %}
    {% else %}
        <strong>Waiting for a second player</strong>
    {% endif %}
</div>
{% endblock %}